@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.title {
  &__link {
    align-self: center;
    color: $white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    @include from($medium) {
      width: auto;
    }
  }
  &__text {
    background: $darkPrimaryColor;
    color: inherit;
    margin: 0;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}
