@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include from($large) {
    flex-direction: row;
    padding: 2rem;
  }
  &__divider {
    width: 5rem;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    @include from($large) {
      max-width: 15rem;
    }
  }
}
