/* Colores */

/* Colores principales */
$primaryColor: #3f51b5;
$darkPrimaryColor: #303f9f;
$accentColor: #009688;
$lightPrimaryColor: #c5cae9;
$primaryText: #212121;
$secondaryText: #757575;

/* Colores secundarios */
$error: #ff0033;
$spotifyGreen: #1db954;
$white: #fff;

/* Breakpoints */
$small: 440px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;
