@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.header {
  background: $primaryColor;
  display: flex;
  flex-direction: column;
  padding: 0;
  @include from($medium) {
    background: $darkPrimaryColor;
  }
  &__main {
    display: flex;
    flex-direction: column;
    @include from($medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
