@import '../../../styles/variables.scss';

.button {
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.25rem;
  margin: 0.5rem;
  text-transform: uppercase;
  &--primary {
    border: none;
    background: $accentColor;
    color: $white;
    padding: 0.5rem;
  }
  &--secondary {
    background: transparent;
    border: 3px solid $accentColor;
    color: $accentColor;
  }
  &--spotify {
    border: none;
    color: $white;
    background: $spotifyGreen;
    padding: 0.5rem;
  }
}
