@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.mymusic {
  align-items: center;
  display: flex;
  flex-direction: column;
  &__playlist {
    @include from($s-medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include from($large) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include from($high-quality) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__text {
    color: $primaryText;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    @include from($large) {
      font-size: 1.25rem;
    }
  }
}
