@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  &__text {
    color: $primaryText;
    font-weight: bold;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
  }
  &__tracks {
    @include from($s-medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @include from($large) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include from($high-quality) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  article {
    width: 90%;
  }
}
