@import '../../../styles/variables.scss';

.card {
  align-items: center;
  background: $white;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px $primaryText;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0 0 1rem 0;
  width: 95%;
  &__artist,
  &__album {
    color: $secondaryText;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0.25rem;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    width: 80%;
    min-height: 2rem;
    button {
      font-size: 1rem;
      width: 50%;
      margin: 0 0.5rem;
    }
  }
  &__cover {
    border-radius: 1rem 1rem 0 0;
    height: 6rem;
    margin-bottom: 0.5rem;
    object-fit: cover;
    width: 100%;
  }
  &__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    width: 100%;
  }
  &__link {
    text-decoration: none;
    font-size: 0.9rem;
    color: $secondaryText;
    border-bottom: thin solid $secondaryText;
  }
  &__name {
    color: $primaryText;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    text-align: center;
  }
}
