@import '../../../styles/variables.scss';

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-bottom: 0.5rem;
  &__name {
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: $primaryText;
    font-size: 1.25rem;
    margin: 0 1rem;
    padding: 0.25rem;
    text-align: center;
    border: thin solid $primaryText;
    width: 90%;
  }
  &__link {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: $secondaryText;
  }
}
