@import '../../../styles/variables.scss';

.form {
  background: white;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  padding: 0.5rem 1rem;
  width: 90%;
  max-width: 25rem;
  &__error {
    background: $error;
    border-radius: 0 0 0.5rem 0.5rem;
    color: $white;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
  }
  &__title {
    color: $primaryText;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5;
    text-align: center;
  }
  &__input {
    border: thin solid $secondaryText;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
  }
  button {
    margin: 0.5rem 0 0 0;
    width: 100%;
    height: 2.5rem;
  }
}
