@import '../../../styles/variables.scss';

.header {
  button {
    width: 6rem;
    margin: 0 0.5rem;
  }
  &__actions {
    align-items: center;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
  }
  &__name {
    color: $white;
    font-size: 1.1rem;
    margin: 0;
    padding-left: 0.5rem;
  }
  &__picture {
    border-radius: 50%;
    height: 2.25rem;
    margin: 0rem 0.25rem 0 0rem;
  }
  &__profile {
    align-items: center;
    display: flex;
    width: 70%;
  }
}
