@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.nav {
  background: $primaryColor;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  @include from($medium) {
    justify-content: center;
  }
  &__link {
    color: $lightPrimaryColor;
    font-size: 1.15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    @include from($medium) {
      margin: 0 0.5rem;
    }
    &--active {
      border-bottom: medium solid $accentColor;
    }
  }
}
